.tile-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  position: relative;
  padding-right: 3rem;
}

.tile {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 4px;
  transition: all 0.05s ease;
  position: relative;
  user-select: none; /* Prevent text selection */

  &.empty {
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &.filled {
    background-color: #f8d486;
    border: 2px solid #e6b800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

    @media (prefers-color-scheme: dark) {
      background-color: #241901;
    }
  }

  &.correct {
    background-color: #a5d6a7;
    border: 2px solid #81c784;

    @media (prefers-color-scheme: dark) {
      background-color: #66bb6a;
      border: 2px solid #4caf50;
    }
  }

  &.incorrect {
    background-color: #ef9a9a;
    border: 2px solid #e57373;

    @media (prefers-color-scheme: dark) {
      background-color: #e57373;
      border: 2px solid #ef5350;
    }
  }
}

.backspace-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.05s ease;
  background: none;

  &:hover:not(:disabled) {
    background-color: #e0e0e0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.checkmark {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #4caf50;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  user-select: none;
}
