.carousel-container {
  padding: 40px;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-image {
  width: auto;
  height: 100%; // Make the image fit the height of the container
  object-fit: cover; // Ensures the image covers the container while maintaining aspect ratio
  display: block;
  margin: 0 auto; // Center the image horizontally if needed
}
