.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('/images/notepad.webp'); // Replace with your image path
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.home-overlay {
  background-color: rgba(255, 255, 255, 0.8); // Semi-transparent overlay
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 20px;

  @media (max-width: 768px) {
    padding: 20px 10px !important;
  }
}

.home-title {
  font-size: 2.5rem;
  color: #ff6f61;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 1.5rem !important;
  }
}

.home-subtitle {
  font-size: 1.2rem;
  color: #125e14;
  margin-bottom: 40px;
}

.start-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    background-color 0.2s;

  @media (max-width: 768px) {
    font-size: 1rem !important;
  }
}

.start-button.one {
  color: #ffffff;
  background-color: #ff6f61;
}

.start-button.two {
  color: #ffffff;
  background-color: #6171ff;
}

.start-button.one:hover {
  background-color: #e0554f; // Darker shade of the button color
  transform: scale(1.05); // Slightly enlarge the button on hover
}

.start-button.two:hover {
  background-color: #4f5fff; // Darker shade of the button color
  transform: scale(1.05); // Slightly enlarge the button on hover
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
